openapi: 3.0.0
info:
  title: Pegasus IAM RESTful API
  description: Pegasus IAM Restful API ， Response 以 Json 格式呈現，每個 API 需以 Bearer Token 方式認證帳號
  version: v1.9.8
  termsOfService: "http://0.0.0.0:8081"
  contact:
    email: "osci_admin@asus.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
servers: 
  - url: https://api.central.iic.nchc.org.tw/iam/api/v1
    description: AI-Cloud
  - url: https://api.central.iic.nchc.org.tw/iam/api/v1/
    description: AI-Trust
  - url: https://api.trusted-cloud.nchc.org.tw/iam/api/v1
    description: 高安控雲
tags:
  - name: "User/Login"
    description: "Login API by User"
  - name: "User/Users"
    description: "User API by User"
  - name: "User/Projects"
    description: "Project API by User"
  - name: "User/Membership"
    description: "Membership API by User"
  - name: "User/Credentials"
    description: "Credential API by User"
  - name: "User/MFA"
    description: "MFA API by User"
  - name: "User/CliSecret"
    description: "CliSecret API by User"
  - name: User/PersonalAccessAPIToken
    description: "Personal Access API Token"
  - name: "User/Permission"
    description: "Permission API by TENANT_ADMIN"
  - name: "User/SAML"
    description: "SAML API by User"  
  - name: "Admin/Login"
    description: "Login API by Admin"
  - name: "Admin/User"
    description: "User API by Admin"
  - name: "Admin/PersonalAccessAPIToken"
    description: "Personal Access API Token"
  - name: "Admin/Action"
    description: "Action API by Admin"
  - name: "Admin/Project"
    description: "Project API by Admin"
  - name: "Admin/Membership"
    description: "Membership API by Admin"
  - name: "Admin/Credential"
    description: "Credential API by Admin"
  - name: "Admin/Frozen"
    description: "Frozen API by Admin"
  - name: "Admin/MFA"
    description: "MFA API by Admin"
  - name: "Admin/CliSecret"
    description: "CliSecret API by Admin"
  - name: "Admin/Permission"
    description: "Permission API by Admin"
  - name: "Admin/SecurityGuard"
    description: "SecurityGuard API by Admin"
  - name: "Admin/UsageTime"
    description: "User and Project Usage Time API by Admin"
  - name: "Admin/System"
    description: "Get system information"
  - name: "Admin/SAML"
    description: "SAML API by Admin"
paths:
  '/version':
    get:
      summary: PegasusIAM版本
      description: 取得系統版本資訊
      tags:
        - User/Login
      responses: 
        '200':
          description: 取得系統版本資訊
          content:
            text/plain:
              example: 1.3.0
  '/scopes':
    get:
      summary: 取得系統的規模
      description: 取得系統的規模
      tags:
        - User/Login
      responses:
        '200':
          description: 取得系統的規模
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserScopes'
  '/login':
    post:
      summary: 登入 IAM
      description: 登入 IAM
      requestBody:
        description: |
          登入頁面需輸入登入資訊，成功後會取得 JWT Token 、 user 資訊 與 extra 資訊
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/LoginRequestDefault'
                - $ref: '#/components/schemas/LoginRequestSsoToken'
            examples:
              LoginRequestDefault:
                $ref: '#/components/examples/LoginRequestDefault'
              LoginRequestSsoToken:
                $ref: '#/components/examples/LoginRequestSsoToken'
      tags:
        - User/Login
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/LoginResponse'
                  - $ref: '#/components/schemas/LoginResponseTwccAuth'
                  - $ref: '#/components/schemas/LoginResponseTainanAISSO'
              examples:
                LoginResponse:
                  $ref: '#/components/examples/LoginResponse'
                LoginResponseTwccAuth:
                  $ref: '#/components/examples/LoginResponseTwccAuth'
                LoginResponseTainanAISSO:
                  $ref: '#/components/examples/LoginResponseTainanAISSO'
        '205':
          description: |
            驗證成功，回應轉址的網址並挾帶Token，
            強制MFA模式且未設定MFA時Token為mfaRegisterToken，
            啟用MFA之後Token為mfaToken，
            啟用強制更新密碼時Token為changePasswordToken，
            Token則會以Query Parameter方式帶入
          headers:
            Location:
              schema:
                type: string
              description: 轉址的網址及Token
        '302':
          description: |
            驗證成功，進行轉址並挾帶Token，
            強制MFA模式且未設定MFA時Token為mfaRegisterToken，
            啟用MFA之後Token為mfaToken，
            啟用強制更新密碼時Token為changePasswordToken，
            Token則會以Query Parameter方式帶入
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/LoginResponseFailed'
                  - $ref: '#/components/schemas/LoginResponseJailer'
              examples:
                LoginResponseFailed:
                  $ref: '#/components/examples/LoginResponseFailed'
                LoginResponseJailer:
                  $ref: '#/components/examples/LoginResponseJailer'
        '500':
          description: Internal Server Error
  '/logout':
    post:
      summary: 登出 IAM
      description: 登出 IAM
      security:
        - bearerAuth: []
      tags:
        - User/Login
      responses:
        '204':
          description: NoContent
  '/verify':
    head:
      summary: 驗證 JWT Token 是否合法
      description: >
        驗證 JWT Token 是否合法
      parameters:
        - in: header
          name: X-Verify-Authorization
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
      tags:
        - User/Login
      responses:
        '200':
          description: OK
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
  '/token/refresh':
    put:
      summary: 更新 IAM token
      description: >
        更新 IAM token
      security:
        - bearerAuth: []
      tags:
        - User/Login
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          description: BadRequest
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
  '/token/admin':
    get:
      summary: 取得 IAM admin token
      description: >
        取得 IAM admin token
      security:
        - bearerAuth: []
      tags:
        - User/Login
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAdminAPITokenResponse'
        '400':
          description: BadRequest
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
  '/password':
    post:
      summary: 使用臨時 Token 更新使用者密碼
      description: >
        啟用強制更新密碼時，
        當系統檢查到必須更新密碼的情況會核發臨時權杖 changePasswordToken，
        讓使用者呼叫此 API 更新密碼
      tags:
        - User/Login
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForceChangePasswordRequest'
            examples:
                ForceChangePasswordRequest:
                  $ref: '#/components/examples/ForceChangePasswordRequest'
      responses:
        '204':
          description: No content, password has been changed successfully.
        '400':
          description: BadRequest
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
  '/projects':
    get:
      summary: 取得 project
      description: >
        取得 Current User 所擁有的 project 列表
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
            default: 0
          required: false
          description: The number of items to skip before starting to collect the result set.
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          required: false
          description: The number of items to return.
        - in: query
          name: order
          schema:
            type: string
          required: false
          description: todo.
      tags:
        - User/Projects
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserProjectsResponse'
        '400':
          description: BadRequest
        '500':
          description: Internal Server Error
  '/project/{project-id}/':
    get:
      summary: 取得特定 project-id 的 project 資訊
      description: |
        Get a user project by project id
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: project-id
          schema:
            type: string
          required: true
          description: 
            user project id
      tags:
        - "User/Projects"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserProjectResponse'                
        '500':
          description: IAM Server 發生內部錯誤
          
        '400':
          description: user project 不存在
    put:
      summary: 更新 project 資訊
      description: |
        UpdateProject (目前僅能更新ProjectExtra, 僅供 Tenant Owner/Admin 使用)
      parameters:
        - in: path
          name: project-id
          schema:
            type: string
          required: true
          description: Project ID
      requestBody:
        description: |
          UpdateProject
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserProjectRequest'
      security:
        - bearerAuth: []
      tags:
        - "User/Projects"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateUserProjectResponse'
        '400':
          description: BadRequest
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
  '/project/{project-id}/saml':
    post:
      summary: 創建saml by project id
      description: |
        Create a saml by project id
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: project-id
          schema:
            type: string
          required: true
          description: 
            admin project id
      tags:
        - "User/Projects"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateUserProjectSAMLRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProjectSAMLResponse'
              examples:
                UserProjectSAMLResponse:
                  $ref: '#/components/examples/UserProjectSAMLResponse'
        '500':
          description: IAM Server 發生內部錯誤
          
        '400':
          description: admin project 不存在
  '/project/{project-id}/saml/{saml-id}':
    get:
      summary: 取得 saml by project id and saml-id
      description: |
        Get a saml by project id and saml-id
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: project-id
          schema:
            type: string
          required: true
          description: 
            admin project id
        - in: path
          name: saml-id
          schema:
            type: string
          required: true
          description: 
            saml id
      tags:
        - "User/Projects"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProjectSAMLResponse'
              examples:
                UserProjectSAMLResponse:
                  $ref: '#/components/examples/UserProjectSAMLResponse'              
        '500':
          description: IAM Server 發生內部錯誤
          
        '400':
          description: admin project 不存在
    put:
      summary: 更新 saml by project id and saml-id
      description: |
        Update a saml by project id and saml-id
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: project-id
          schema:
            type: string
          required: true
          description: 
            admin project id
        - in: path
          name: saml-id
          schema:
            type: string
          required: true
          description: 
            saml id
      tags:
        - "User/Projects"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProjectSAMLResponse'
              examples:
                UserProjectSAMLResponse:
                  $ref: '#/components/examples/UserProjectSAMLResponse'            
        '500':
          description: IAM Server 發生內部錯誤
          
        '400':
          description: admin project 不存在
    delete:
      summary: 刪除 saml by project id and saml-id
      description: |
        Delete a saml by project id and saml-id
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: project-id
          schema:
            type: string
          required: true
          description: 
            admin project id
        - in: path
          name: saml-id
          schema:
            type: string
          required: true
          description: 
            saml id
      tags:
        - "User/Projects"
      responses:
        '204':
              description: No Content     
        '500':
          description: IAM Server 發生內部錯誤
        '400':
          description: admin project 不存在
  '/project/{project-id}/samls':
    get:
      summary: 取得所有的saml by project id
      description: |
        List samls by project id
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: project-id
          schema:
            type: string
          required: true
          description: 
            admin project id
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
            default: 0
          required: false
          description: The number of items to skip before starting to collect the result set.
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
          required: false
          description: The number of items to return.
      tags:
        - "User/Projects"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUserProjectSAMLResponse'
              examples:
                ListUserProjectSAMLResponse:
                  $ref: '#/components/examples/ListUserProjectSAMLResponse'              
        '500':
          description: IAM Server 發生內部錯誤
          
        '400':
          description: admin project 不存在
  '/user':
    get:
      summary: 取得 user 資訊
      description: >
        取得指定用戶資訊
      security:
        - bearerAuth: []
      tags:
        - User/Users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserResponse'
        '400':
          description: BadRequest
        '500':
          description: Internal Server Error
    put:
      summary: 更新 user (自身)資訊
      description: |
        UpdateUser (目前僅能更新UserExtra)
      requestBody:
        description: |
          UpdateUser
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      security:
        - bearerAuth: []
      tags:
        - "User/Users"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserResponse'
        '400':
          description: BadRequest
        '500':
          description: Internal Server Error
  '/user/password':
    put:
      summary: 更換密碼
      description: >
        更換指定用戶的密碼
      security:
        - bearerAuth: []
      requestBody:
        description: 輸入欲更新的密碼，成功回 status 200
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserPassword'
      tags:
        - User/Users
      responses:
        '204':
          description: StatusNoContent
        '400':
          description: BadRequest
        '500':
          description: Internal Server Error
  '/user/publickey':
    put:
      summary: 更換公開金鑰
      description: >
        更換指定用戶的公開金鑰
      security:
        - bearerAuth: []
      requestBody:
        description: 輸入欲更新的公開金鑰
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserPublicKey'
      tags:
        - User/Users
      responses:
        '200':
          description: OK
        '400':
          description: BadRequest
        '500':
          description: Internal Server Error
    get:
      summary: 取得公開金鑰
      description: >
        取得指定用戶的公開金鑰
      security:
        - bearerAuth: []
      tags:
        - User/Users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserPublicKey'
        '400':
          description: BadRequest
        '500':
          description: Internal Server Error
  '/membership/project/{project-id}':
    post:
      summary: Create Membership
      description: |
        Create membership by tenant admin/owner
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: project-id
          schema:
            type: string
          required: true
          description: Project ID
      requestBody:
        description: |
          CreateMembership
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreateMembershipRequest'
      tags:
        - "User/Membership"
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCreateMembershipResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
    get:
      summary: List Memberships
      description: |
        List memberships
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: project-id
          schema:
            type: string
          required: true
          description: Project ID
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
            default: 0
          required: false
          description: The number of items to skip before starting to collect the result set.
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          required: false
          description: The number of items to return.
      tags:
        - "User/Membership"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMembershipsByProjectResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
  '/membership/project/{project-id}/users':
    get:
      summary: List all users
      description: |
        List All of users, only TENANT_ADMIN or TENANT_OWNER can request
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
            default: 0
          required: false
          description: |
            The number of items to skip before starting to collect the result set.
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          required: false
          description: The number of items to return.
        - in: path
          name: project-id
          schema:
            type: string
          required: true
          description: Project ID
      tags:
        - "User/Membership"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserListUsersResponse'
  '/membership/project/{project-id}/batch':
    post:
      summary: Batch Create Memberships
      description: |
        Batch create memberships by tenant admin/owner
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: project-id
          schema:
            type: string
          required: true
          description: Project ID
      requestBody:
        description: |
          CreateMembershipBatch
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreateMembershipBatchRequest'
      tags:
        - "User/Membership"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCreateMembershipBatchResponse'
  '/membership/project/{project-id}/user/{user-id}':
    put:
      summary: 更新 membership 資訊
      description: |
        UpdateMembership (目前僅能更新MembershipExtra, 僅供 user本人修改 或 Tenant Owner/Admin 使用)
      requestBody:
        description: |
          UpdateMembership
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateMembershipRequest'
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: project-id
          schema:
            type: string
          required: true
          description: Project ID
        - in: path
          name: user-id
          schema:
            type: string
          required: true
          description: User ID
      tags:
        - "User/Membership"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserUpdateMembershipResponse'
        '400':
          description: BadRequest
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
    delete:
      summary: Delete Membership
      description: |
        Delete membership by tenant admin/owner
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: project-id
          schema:
            type: string
          required: true
          description: Project ID
        - in: path
          name: user-id
          schema:
            type: string
          required: true
          description: User ID
      tags:
        - "User/Membership"
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
  '/membership/project/{project-id}/user/{user-id}/role':
    put:
      summary: Update Membership Role
      description: |
        Update membership role by tenant admin/owner
      requestBody:
        description: |
          UpdateMembershipRole
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMembershipRoleRequest'
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: project-id
          schema:
            type: string
          required: true
          description: Project ID
        - in: path
          name: user-id
          schema:
            type: string
          required: true
          description: User ID
      tags:
        - "User/Membership"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCreateMembershipResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
  '/membership/project/{project-id}/user/{user-id}/owner':
    patch:
      summary: 設定專案Owner
      description: |
        設定專案Owner，只有該專案的Owner可以轉換其他人為Owner
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: project-id
          schema:
            type: string
          required: true
          description: Project ID
        - in: path
          name: user-id
          schema:
            type: string
          required: true
          description: User ID
      tags:
        - "User/Membership"
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
  '/credential/project/{project-id}/':
    put:
      summary: 更新 access/secret key
      description: >
        更新 aws signature v4 access/secret key
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: project-id
          schema:
            type: string
          required: true
          description: UUID of the project
      tags:
        - User/Credentials
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialResponse'
        '400':
          description: BadRequest
        '500':
          description: Internal Server Error
    get:
      summary: 取得 access/secret key
      description: >
        取得 aws signature v4 access/secret key
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: project-id
          schema:
            type: string
          required: true
          description: UUID of the project
      tags:
        - User/Credentials
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialResponse'
        '400':
          description: BadRequest
        '500':
          description: Internal Server Error
  '/mfa/generate':
    post:
      summary: 產生 MFA 資訊
      description: 使用 mfaRegisterToken 產生 MFA secret, token, URL
      tags:
        - User/MFA
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateMfaRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateMfaResponse'
        '400':
          description: BadRequest
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
  '/mfa/register':
    post:
      summary: 註冊 MFA
      description: 使用 mfaRegisterToken 註冊 MFA
      tags:
        - User/MFA
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterMfaRequest'
      responses:
        '204':
          description: No content, MFA was registered successfully.
        '400':
          description: BadRequest
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
  '/mfa/verify':
    post:
      summary: 驗證 MFA
      description: ""
      tags:
        - User/MFA
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyMfaRequest'
      responses:
        '200':
          description: OK
        '302':
          description: 轉到至目標網頁並且攜帶IAM_TOKEN
        '400':
          description: BadRequest
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
  '/mfa/get':
    get:
      summary: 產生 MFA secret, token, URL
      description: ""
      security:
        - bearerAuth: []
      tags:
        - User/MFA
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMfaResponse'
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
  '/mfa/enable':
    post:
      summary: 啟用 MFA 認證
      description: ""
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnableMfaRequest'
      tags:
        - User/MFA
      responses:
        '204':
          description: No content, MFA was enabled successfully.
        '400':
          description: BadRequest
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
  '/mfa/disable':
    post:
      summary: 取消 MFA 認證
      description: ""
      security:
        - bearerAuth: []
      tags:
        - User/MFA
      responses:
        '204':
          description: No content, MFA was disabled successfully.
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
  '/user/secret':
    get:
      summary: GetCliSecret
      description: |
        取得 Cli Secret，若該 user未建立則自動建立 Cli Secret
      security:
        - bearerAuth: []
      tags:
        - "User/CliSecret"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCliSecretResponse'
        '400':
          description: BadRequest
        '500':
          description: Internal Server Error
  '/user/secret/refresh':
    put:
      summary: UpdateCliSecret
      description: |
        更新 Cli Secret，若該 user未建立則自動建立 Cli Secret
      security:
        - bearerAuth: []
      tags:
        - "User/CliSecret"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCliSecretResponse'
        '400':
          description: BadRequest
        '500':
          description: Internal Server Error
  '/personal_access_api_tokens':
     get:
      summary: ListPersonalAccessAPITokens
      description: |
        List Personal Access API TokenResponse:
      tags:
        - "User/PersonalAccessAPIToken"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPersonalAccessAPITokensResponse'
  '/personal_access_api_token':
    post:
      summary: CreatePersonalAccessAPIToken
      description: |
        Create Personal Access API Token
      tags:
        - "User/PersonalAccessAPIToken"
      security:
        - bearerAuth: []
      requestBody:
        description: |
          CreatePersonalAccessAPIToken
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreatePersonalAccessAPITokenRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePersonalAccessAPITokenResponse'
  '/personal_access_api_token/{paat-id}':
    delete:
      summary: DeletePersonalAccessAPIToken
      description: |
        Delete Personal Access API TokenResponse:
      tags:
        - "User/PersonalAccessAPIToken"
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: paat-id
          schema:
            type: string
          required: true
          description: PAAT ID
      responses:
        '204':
          description: NoContent
  '/saml/auth_request/validate':
    head:
      summary: 驗證 saml request 是否合法
      description: >
        驗證 saml request 是否合法
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: entityID
          schema:
            type: string
          required: true
          description: 用來查找是哪一筆entityID 
        - in: query
          name: SAMLRequest
          schema:
            type: string
          required: true
          description: saml request 是由 service provider 傳送給idp的 xml authn request info. 
        - in: query
          name: RelayState
          schema:
            type: string
          required: true
          description: service provider用來重新導向用戶到原始請求的Context, idp 收到值不做任何處理
      tags:
        - "User/SAML"
      responses:
        '200':
          description: OK
        '400':
          description: BadRequest
        '404':
          description: NotFound
        '500':
          description: Internal Server Error
  '/saml/login':
    post:
      summary: 產生saml response info 傳送給 service provider
      description: >
         generate saml response send to service provider
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: entityID
          schema:
            type: string
          required: true
          description: 用來查找是哪一筆entityID 
        - in: query
          name: SAMLRequest
          schema:
            type: string
          required: true
          description: saml request 是由 service provider 傳送給idp的 xml authn request info. 
        - in: query
          name: RelayState
          schema:
            type: string
          required: true
          description: service provider用來重新導向用戶到原始請求的Context, idp 收到值不做任何處理
      requestBody:
        description: |
          需要登入資訊, 登入成功的資訊會把user info 打包在saml response
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequestDefault'
            examples:
              LoginRequestDefault:
                $ref: '#/components/examples/LoginRequestDefault'
      tags:
        - "User/SAML"
      responses:
        '302':
          description: StatusFound
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/SAMLLoginResponse'
              examples:
                SAMLLoginResponse:
                  $ref: '#/components/examples/SAMLResponse'   
        '400':
          description: BadRequest
        '404':
          description: NotFound
        '500':
          description: Internal Server Error
  '/saml/{saml-id}':
    get:
      summary: 取得 SAML metadata
      description: |
        get saml metadata
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: saml-id
          schema:
            type: string
          required: true
          description: 
            saml id
      tags:
        - "User/SAML"
      responses:
        '200':
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/GetSAMLMetadataResponse'  
              examples:
                GetSAMLMetadataResponse:
                  $ref: '#/components/examples/GetSAMLMetadataResponse'              
        '500':
          description: IAM Server 發生內部錯誤
          
        '400':
          description: admin project 不存在
  '/admin/login':
    post:
      summary: 登入管理者頁面
      description: |
        管理者登入管理者頁面，只有在Administrator群組中才可以進行登入
      requestBody:
        description: |
          登入頁面需輸入登入資訊，成功後會取得 JWT Token 、 user 資訊 與 extra 資訊
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/LoginRequestDefault'
                - $ref: '#/components/schemas/LoginRequestSsoToken'
            examples:
              LoginRequestDefault:
                $ref: '#/components/examples/LoginRequestDefault'
              LoginRequestSsoToken:
                $ref: '#/components/examples/LoginRequestSsoToken'
      tags:
        - Admin/Login
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/LoginResponse'
                  - $ref: '#/components/schemas/LoginResponseTwccAuth'
                  - $ref: '#/components/schemas/LoginResponseTainanAISSO'
              examples:
                LoginResponse:
                  $ref: '#/components/examples/LoginResponse'
                LoginResponseTwccAuth:
                  $ref: '#/components/examples/LoginResponseTwccAuth'
                LoginResponseTainanAISSO:
                  $ref: '#/components/examples/LoginResponseTainanAISSO'
        '205':
          description: |
            驗證成功，回應轉址的網址並挾帶Token，
            強制MFA模式且未設定MFA時Token為mfaRegisterToken，
            啟用MFA之後Token為mfaToken，
            啟用強制更新密碼時Token為changePasswordToken，
            Token則會以Query Parameter方式帶入
          headers:
            Location:
              schema:
                type: string
              description: 轉址的網址及Token
        '302':
          description: |
            驗證成功，進行轉址並挾帶Token，
            強制MFA模式且未設定MFA時Token為mfaRegisterToken，
            啟用MFA之後Token為mfaToken，
            啟用強制更新密碼時Token為changePasswordToken，
            Token則會以Query Parameter方式帶入
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/LoginResponseFailed'
                  - $ref: '#/components/schemas/LoginResponseJailer'
              examples:
                LoginResponseFailed:
                  $ref: '#/components/examples/LoginResponseFailed'
                LoginResponseJailer:
                  $ref: '#/components/examples/LoginResponseJailer'
        '500':
          description: Internal Server Error
  '/admin/logout':
    post:
      summary: 登出 IAM
      description: 登出 IAM
      security:
        - bearerAuth: []
      tags:
        - Admin/Login
      responses:
        '204':
          description: NoContent
  '/admin/verify':
    head:
      summary: 驗證 JWT Token 是否合法
      description: >
        驗證 JWT Token 是否合法
      security:
        - bearerAuth: []
      parameters:
        - in: header
          name: X-Verify-Authorization
          required: true
          schema:
            type: string
      tags:
        - Admin/Login
      responses:
        '200':
          description: OK
        '400':
          description: BadRequest
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
  '/admin/user':
    get:
      summary: GetUser
      description: >
        取得用戶資訊 (myself)
      security:
        - bearerAuth: []
      tags:
        - "Admin/User"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserResponse'
        '400':
          description: BadRequest
        '500':
          description: Internal Server Error
    post:
      summary: CreateUser
      description: |
        CreateUser:
        1. if input usageTime not nil and forzen is true, accept input activateTime and expiredTime or input activateTime
        2. if input usageTime not nil and frozen is false, only accept input expiredTime
      security:
        - bearerAuth: []
      requestBody:
        description: |
          CreateUser
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
            examples:
              default:
                $ref: '#/components/examples/CreateUserRequest'
              usagetime:
                $ref: '#/components/examples/CreateUserRequest.usagetime'
      tags:
        - "Admin/User"
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUserResponse'
              examples:
                default:
                  $ref: '#/components/examples/CreateUserResponse'
                usagetime:
                  $ref: '#/components/examples/CreateUserResponse.usagetime'                
        '400':
          description: BadRequest
        '500':
          description: Internal Server Error
  '/admin/users':
    get:
      summary: ListUser
      description: |
        ListUser
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
            default: 0
          required: false
          description: |
            The number of items to skip before starting to collect the result set.  
            #Tip 1: 當在 where條件式下，此參數為無效。
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          required: false
          description: The number of items to return.
        - in: query
          name: order
          schema:
            type: string
          required: false
          description: todo.
        - in: query
          name: where
          schema:
            type: array
            items:
              type: object
          required: false
          description: |
            此功能可以只列出特定欄位的某個值。  
            例如： 當要只列出Namespace=ci.asus.com且Frozen=True時，  
            可以帶入query parameters => where=namespace%3Dci.asus.com&where=frozen%3Dtrue
      tags:
        - "Admin/User"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUserResponse'
        '400':
          description: BadRequest
        '500':
          description: Internal Server Error
  '/admin/user/{user-id}/':
    get:
      summary: GetUser
      description: |
        GetUser
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: user-id
          schema:
            type: string
          required: true
          description: todo
      tags:
        - "Admin/User"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserResponse'
              examples:
                default:
                  $ref: '#/components/examples/GetUserResponse'
                usagetime:
                  $ref: '#/components/examples/GetUserResponse.usagetime'              
        '400':
          description: BadRequest
        '500':
          description: Internal Server Error
    put:
      summary: UpdateUser
      description: |
        UpdateUser
      requestBody:
        description: |
          UpdateUser
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: user-id
          schema:
            type: string
          required: true
          description: todo
      tags:
        - "Admin/User"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserResponse'
        '400':
          description: BadRequest
        '500':
          description: Internal Server Error
    delete  :
      summary: DeleteUser
      description: |
        DeleteUser
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: user-id
          schema:
            type: string
          required: true
          description: todo
      tags:
        - "Admin/User"
      responses:
        '204':
          description: NoContent
        '400':
          description: BadRequest
        '500':
          description: Internal Server Error
  '/admin/user/{user-id}/password':
    put:
      summary: UpdatePassword
      description: |
        UpdatePassword
      requestBody:
        description: |
          UpdatePassword
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserPassword'
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: user-id
          schema:
            type: string
          required: true
          description: todo
      tags:
        - "Admin/User"
      responses:
        '200':
          description: OK
        '400':
          description: BadRequest
        '500':
          description: Internal Server Error
  '/admin/user/{user-id}/personal_access_api_token':
    post:
      summary: CreatePersonalAccessAPIToken
      description: |
        Create Personal Access API Token
      tags:
        - "Admin/PersonalAccessAPIToken"
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: user-id
          schema:
            type: string
          required: true
          description: todo
      requestBody:
        description: |
          CreatePersonalAccessAPIToken
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCreatePersonalAccessAPITokenRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePersonalAccessAPITokenResponse'
  '/admin/user/{user-id}/personal_access_api_tokens':  
    get:
      summary: ListPersonalAccessAPITokens
      description: |
        List Personal Access API TokenResponse:
      tags:
        - "Admin/PersonalAccessAPIToken"
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: user-id
          schema:
            type: string
          required: true
          description: todo
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPersonalAccessAPITokensResponse'
  '/admin/user/{user-id}/personal_access_api_token/{paat-id}':
    delete:
      summary: DeletePersonalAccessAPIToken
      description: |
        Delete Personal Access API TokenResponse:
      tags:
        - "Admin/PersonalAccessAPIToken"
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: user-id
          schema:
            type: string
          required: true
          description: todo
        - in: path
          name: paat-id
          schema:
            type: string
          required: true
          description: PAAT ID
      responses:
        '204':
          description: NoContent
  '/admin/user/{user-id}/simulation_user':
    post:
      summary: 模擬分身功能, 產生SAAT
      description: |
        CreateSimulationAccessAPIToken (for SystemAdmin). 此 Token 為 User 權限, 且無法 "更新 IAM token"
      tags:
        - "Admin/User"
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: user-id
          schema:
            type: string
          required: true
          description: simulated user's ID
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSimulationAccessAPITokenResponse'
  '/admin/actions':
    get:
      summary: ListPermissionActions
      description: >
        ListPermissionActions
      security:
        - bearerAuth: []
      tags:
        - "Admin/Action"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAdminActionsListResponse'
  '/admin/usagetime/user/{user-id}':
   put:
      summary: create/update user usage time
      description: |
        建立或更新使用者帳號的有效期限
      requestBody:
        description: |
          UpdateUserUsageTimeRequest: 
          1. if forzen is true, accept input activateTime and expiredTime or input activateTime
          2. if frozen is false, only accept input expiredTime
          3. activateTime need after currentTime.
          4. expiredTime need after activateTime and currentTime.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserUsageTimeRequest'
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: user-id
          schema:
            type: string
          required: true
          description: user id
      tags:
        - "Admin/UsageTime"
      responses:
        '200':
          description: OK
        '400':
          description: bad request
        '500':
          description: IAM server內部發生錯誤
   delete:
      summary: delete user usage time
      description: |
        刪除使用者帳號的有效期限
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: user-id
          schema:
            type: string
          required: true
          description: user id
      tags:
        - "Admin/UsageTime"
      responses:
        '200':
          description: 刪除成功          
        '500':
          description: IAM server內部發生錯誤
  '/admin/usagetime/project/{project-id}':
   put:
      summary: create/update project usage time
      description: |
        建立或更新專案的有效期限
      requestBody:
        description: |
          UpdateProjectUsageTimeRequest:
          1. if forzen is true, accept input activateTime and expiredTime or input activateTime
          2. if frozen is false, only accept input expiredTime
          3. activateTime need after currentTime.
          4. expiredTime need after activateTime and currentTime.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectUsageTimeRequest'
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: project-id
          schema:
            type: string
          required: true
          description: project id
      tags:
        - "Admin/UsageTime"
      responses:
        '200':
          description: OK
        '400':
          description: bad request
        '500':
          description: IAM server內部發生錯誤
   delete:
      summary: delete project usage time
      description: |
        刪除專案的有效期限
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: project-id
          schema:
            type: string
          required: true
          description: project id
      tags:
        - "Admin/UsageTime"
      responses:
        '200':
          description: 刪除成功          
        '500':
          description: IAM server內部發生錯誤
  '/admin/projects':
    get:
      summary: 列出所有 project
      description: |
        列出所有 project
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
            default: 0
          required: false
          description: |
            The number of items to skip before starting to collect the result set.  
            #Tip 1: 當在 where條件式下，此參數為無效。
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          required: false
          description: The number of items to return.
        - in: query
          name: order
          schema:
            type: string
          required: false
          description: todo.
        - in: query
          name: where
          schema:
            type: array
            items:
              type: object
          required: false
          description: |
            此功能可以只列出特定欄位的某個值。  
            例如： 當要只列出Namespace=ci.asus.com且Frozen=True時，  
            可以帶入query parameters => where=namespace%3Dci.asus.com&where=frozen%3Dtrue
      tags:
        - "Admin/Project"
      responses:
        '200':
          description: 
            OK
            回傳 projects array 及 project 數量
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAdminProjectsResponse'
        '400':
          description: 
               bad request
               project 不存在
               沒有輸入project id
        '500':
          description: 
               IAM server內部發生錯誤 
  '/admin/project':
    post:
      summary: 創建一個 project 
      description: |     
        Create a project without project id
        1. if input usageTime not nil and forzen is true, accept input activateTime and expiredTime or input activateTime
        2. if input usageTime not nil and frozen is false, only accept input expiredTime
      requestBody:
        description: |
          body 請忽填 projectID , force 欄位
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAdminProjectRequest'
            examples:
              default:
                $ref: '#/components/examples/CreateAdminProjectRequest'
              usagetime:
                $ref: '#/components/examples/CreateAdminProjectRequest.usagetime'
      security:
        - bearerAuth: []
      tags:
        - "Admin/Project"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAdminProjectResponse'
              examples:
                default:
                  $ref: '#/components/examples/CreateAdminProjectResponse'
                usagetime:
                  $ref: '#/components/examples/CreateAdminProjectResponse.usagetime'  
        '400':
          description: bad request
        '500':
          description: IAM server內部發生錯誤                
  '/admin/project/{project-id}/':
    get:
      summary: 取得特定 project-id 的 project 資訊
      description: |
        Get a user project by project id
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: project-id
          schema:
            type: string
          required: true
          description: 
            user project id
      tags:
        - "Admin/Project"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAdminProjectResponse'
              examples:
                default:
                  $ref: '#/components/examples/GetAdminProjectResponse'
                usagetime:
                  $ref: '#/components/examples/GetAdminProjectResponse.usagetime'                
        '500':
          description: IAM Server 發生內部錯誤
          
        '400':
          description: user project 不存在
        
    put:
      summary: 更新一個project
      description: |
        Update user Project, you can update project name.
      requestBody:
        description: |
          UpdateProject
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAdminProjectRequest'
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: project-id
          schema:
            type: string
          required: true
          description: user project id
      tags:
        - "Admin/Project"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAdminProjectResponse'
        '400':
          description: bad request
        '500':
          description: IAM server內部發生錯誤
    delete:
      summary: 刪除一個管理群組透過 ID
      description: |
        根據project id 刪除project
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: project-id
          schema:
            type: string
          required: true
          description: 要刪除的project id 當參數
      tags:
        - "Admin/Project"
      responses:
        '200':
          description: 刪除成功          
        '500':
          description: IAM server內部發生錯誤
  '/admin/project/{project-id}/saml':
    post:
      summary: 創建saml by project id
      description: |
        Create a saml by project id
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: project-id
          schema:
            type: string
          required: true
          description: 
            admin project id
      tags:
        - "Admin/Project"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateAdminProjectSAMLRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminProjectSAMLResponse'
              examples:
                AdminProjectSAMLResponse:
                  $ref: '#/components/examples/AdminProjectSAMLResponse'
        '500':
          description: IAM Server 發生內部錯誤
          
        '400':
          description: admin project 不存在
  '/admin/project/{project-id}/saml/{saml-id}':
    get:
      summary: 取得 saml by project id and saml-id
      description: |
        Get a saml by project id and saml-id
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: project-id
          schema:
            type: string
          required: true
          description: 
            admin project id
        - in: path
          name: saml-id
          schema:
            type: string
          required: true
          description: 
            saml id
      tags:
        - "Admin/Project"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminProjectSAMLResponse'
              examples:
                AdminProjectSAMLResponse:
                  $ref: '#/components/examples/AdminProjectSAMLResponse'              
        '500':
          description: IAM Server 發生內部錯誤
          
        '400':
          description: admin project 不存在
    put:
      summary: 更新 saml by project id and saml-id
      description: |
        Update a saml by project id and saml-id
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: project-id
          schema:
            type: string
          required: true
          description: 
            admin project id
        - in: path
          name: saml-id
          schema:
            type: string
          required: true
          description: 
            saml id
      tags:
        - "Admin/Project"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminProjectSAMLResponse'
              examples:
                AdminProjectSAMLResponse:
                  $ref: '#/components/examples/AdminProjectSAMLResponse'            
        '500':
          description: IAM Server 發生內部錯誤
          
        '400':
          description: admin project 不存在
    delete:
      summary: 刪除 saml by project id and saml-id
      description: |
        Delete a saml by project id and saml-id
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: project-id
          schema:
            type: string
          required: true
          description: 
            admin project id
        - in: path
          name: saml-id
          schema:
            type: string
          required: true
          description: 
            saml id
      tags:
        - "Admin/Project"
      responses:
        '204':
              description: No Content     
        '500':
          description: IAM Server 發生內部錯誤
        '400':
          description: admin project 不存在
  '/admin/project/{project-id}/samls':
    get:
      summary: 取得所有的saml by project id
      description: |
        List samls by project id
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: project-id
          schema:
            type: string
          required: true
          description: 
            admin project id
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
            default: 0
          required: false
          description: The number of items to skip before starting to collect the result set.
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
          required: false
          description: The number of items to return.
      tags:
        - "Admin/Project"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAdminProjectSAMLResponse'
              examples:
                ListAdminProjectSAMLResponse:
                  $ref: '#/components/examples/ListAdminProjectSAMLResponse'              
        '500':
          description: IAM Server 發生內部錯誤
          
        '400':
          description: admin project 不存在
  '/admin/frozen/project/{project-id}':
    put:
      summary: 設定專案的啟用/停用狀態
      description: 以 Project ID 指定專案的啟用/停用狀態
      requestBody:
        description: 當 frozen 為 true 是停用，否則啟用
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetAdminFrozenRequest'
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: project-id
          schema:
            type: string
          required: true
          description: Project ID
      tags:
        - "Admin/Frozen"
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
  '/admin/frozen/project/{project-id}/user/{user-id}/':
    put:
      summary: 設定使用者在特定專案的啟用/停用狀態
      description: 以 User ID 及 Project ID 指定使用者在特定專案的啟用/停用狀態
      requestBody:
        description: 當 frozen 為 true 是停用，否則啟用
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetAdminFrozenRequest'
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: project-id
          schema:
            type: string
          required: true
          description: Project ID
        - in: path
          name: user-id
          schema:
            type: string
          required: true
          description: User ID
      tags:
        - "Admin/Frozen"
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
  '/admin/frozen/user/{user-id}':
    put:
      summary: 設定使用者的啟用/停用狀態
      description: 以 User ID 指定使用者的啟用/停用狀態
      requestBody:
        description: 當 frozen 為 true 是停用，否則啟用
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetAdminFrozenRequest'
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: user-id
          schema:
            type: string
          required: true
          description: User ID
      tags:
        - "Admin/Frozen"
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
  '/admin/membership':
    get:
      summary: List ALL Existing memberships
      description: |
        ListMembership
        撈取目前所有Memberships (User與所在Projects之關係)
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
            default: 0
          required: false
          description: The number of items to skip before starting to collect the result set.
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
          required: false
          description: The number of items to return.
      tags:
        - "Admin/Membership"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMembershipResponse'
        '500':
          description: Internal Server Error | IAM Server 發生內部錯誤
    post:
      summary: CreateMembership
      description: |
        CreateMembership
      security:
        - bearerAuth: []
      requestBody:
        description: |
          CreateMembership
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMembershipRequest'
      tags:
        - "Admin/Membership"
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateMembershipResponse'
        '400':
          description: BadRequest
        '500':
          description: Internal Server Error
  '/admin/membership/batch':
    post:
      summary: CreateMembershipBatch
      description: |
        CreateMembershipBatch
      security:
        - bearerAuth: []
      requestBody:
        description: |
          CreateMembershipBatch
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMembershipBatchRequest'
      tags:
        - "Admin/Membership"
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateMembershipBatchResponse'
        '400':
          description: BadRequest
        '500':
          description: Internal Server Error
  '/admin/membership/user/{user-id}/':
    get:
      summary: ListMembershipsByUser
      description: |
        ListMembershipsByUser
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: user-id
          schema:
            type: string
          required: true
          description: todo
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
            default: 0
          required: false
          description: The number of items to skip before starting to collect the result set.
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          required: false
          description: The number of items to return.
        - in: query
          name: order
          schema:
            type: string
          required: false
          description: todo.
      tags:
        - "Admin/Membership"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMembershipsByUserResponse'
        '400':
          description: BadRequest
        '500':
          description: Internal Server Error
  '/admin/membership/project/{project-id}/':
    get:
      summary: ListMembershipsByProject
      description: |
        ListMembershipsByProject
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: project-id
          schema:
            type: string
          required: true
          description: todo
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
            default: 0
          required: false
          description: The number of items to skip before starting to collect the result set.
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          required: false
          description: The number of items to return.
        - in: query
          name: order
          schema:
            type: string
          required: false
          description: todo.
      tags:
        - "Admin/Membership"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMembershipsByProjectResponse'
        '400':
          description: BadRequest
        '500':
          description: Internal Server Error
  '/admin/membership/project/{project-id}/user/{user-id}/':
    get:
      summary: GetMembershipAndPermission
      description: |
        GetMembershipAndPermission
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: project-id
          schema:
            type: string
          required: true
          description: todo
        - in: path
          name: user-id
          schema:
            type: string
          required: true
          description: todo
      tags:
        - "Admin/Membership"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateMembershipResponse'
        '400':
          description: BadRequest
        '500':
          description: Internal Server Error
    put:
      summary: UpdateMembership
      description: |
        UpdateMembership
      requestBody:
        description: |
          UpdateMembership
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMembershipRequest'
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: project-id
          schema:
            type: string
          required: true
          description: todo
        - in: path
          name: user-id
          schema:
            type: string
          required: true
          description: todo
      tags:
        - "Admin/Membership"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateMembershipResponse'
        '400':
          description: BadRequest
        '500':
          description: Internal Server Error
    delete:
      summary: DeleteMembership
      description: |
        DeleteMembership
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: project-id
          schema:
            type: string
          required: true
          description: todo
        - in: path
          name: user-id
          schema:
            type: string
          required: true
          description: todo
      tags:
        - "Admin/Membership"
      responses:
        '204':
          description: NoContent
        '400':
          description: BadRequest
        '500':
          description: Internal Server Error
  '/admin/membership/project/{project-id}/user/{user-id}/owner':
    patch:
      summary: 設定專案Owner
      description: |
        設定專案Owner，該專案的Tenant Admin才能被設為Owner
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: project-id
          schema:
            type: string
          required: true
          description: Project ID
        - in: path
          name: user-id
          schema:
            type: string
          required: true
          description: User ID
      tags:
        - "Admin/Membership"
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
  '/admin/credential/project/{project-id}/user/{user-id}/':
    put:
      summary: UpdateCredential
      description: |
        UpdateCredential
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: project-id
          schema:
            type: string
          required: true
          description: todo
        - in: path
          name: user-id
          schema:
            type: string
          required: true
          description: todo
      tags:
        - "Admin/Credential"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCredentialResponse'
        '400':
          description: BadRequest
        '500':
          description: Internal Server Error
    get:
      summary: GetCredential
      description: |
        GetCredential
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: project-id
          schema:
            type: string
          required: true
          description: todo
        - in: path
          name: user-id
          schema:
            type: string
          required: true
          description: todo
      tags:
        - "Admin/Credential"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCredentialResponse'
        '400':
          description: BadRequest
        '500':
          description: Internal Server Error
  '/admin/mfa/user/{user-id}/disable':
    post:
      summary: 取消指定 User 的 MFA 認證
      description: ""
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: user-id
          schema:
            type: string
          required: true
          description: todo
      tags:
        - Admin/MFA
      responses:
        '204':
          description: No content, MFA was disabled successfully.
        '400':
          description: BadRequest
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
  '/admin/user/{user-id}/secret':
    post:
      summary: 建立 CliSecret
      description: |
        建立 Cli Secret，目前會由 namespace決定是否啟用 Cli Secret(由 yaml檔設定)，並在 GetCliSecret時自動建立 CliSecret。
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: user-id
          schema:
            type: string
          required: true
          description: todo
      tags:
        - "Admin/CliSecret"
      deprecated: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCliSecretResponse'
        '400':
          description: BadRequest
        '500':
          description: Internal Server Error
    delete:
      summary: 刪除 CliSecret
      description: |
        刪除 Cli Secret，目前會由 namespace決定是否啟用 Cli Secret(由 yaml檔設定)，若要取消 Cli Secret需要修改 namespace或更改 yaml檔設定
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: user-id
          schema:
            type: string
          required: true
          description: todo
      tags:
        - "Admin/CliSecret"
      deprecated: true
      responses:
        '204':
          description: OK
        '400':
          description: BadRequest
        '500':
          description: Internal Server Error
    get:
      summary: GetCliSecret
      description: |
        取得 Cli Secret，若該 user未建立則自動建立 Cli Secret
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: user-id
          schema:
            type: string
          required: true
          description: todo
      tags:
        - "Admin/CliSecret"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCliSecretResponse'
        '400':
          description: BadRequest
        '500':
          description: Internal Server Error
    put:
      summary: UpdateCliSecret
      description: |
        更新 Cli Secret，若該 user未建立則自動建立 Cli Secret
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: user-id
          schema:
            type: string
          required: true
          description: todo
      tags:
        - "Admin/CliSecret"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCliSecretResponse'
        '400':
          description: BadRequest
        '500':
          description: Internal Server Error
  '/admin/permission':
    post:
      summary: 創建一條 permission
      description: 創建一條 permission來管理project或user權限，permission Type可為GLOBAL或USER
      tags:
        - Admin/Permission
      requestBody:
          description: 創建一條 permission
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePermissionRequest'
      responses:
         '201':
           description: Created
           content:
             application/json:
               schema:
                 $ref: '#/components/schemas/CreatePermissionResponse'
         '400':
           description: BadRequest
         '500':
           description: Internal Server Error
  '/admin/permissions':
    get:
      summary: 列出所有 permission
      description: 列出系統中所有被創建的 permission
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
            default: 0
          required: false
          description: The number of items to skip before starting to collect the result set.
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          required: false
          description: The number of items to return.
        - in: query
          name: order
          schema:
            type: string
          required: false
          description: todo.
      tags:
        - Admin/Permission
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPermissionsResponse'
        '400':
          description: BadRequest
        '500':
          description: Internal Server Error
  '/admin/permission/{permission-id}':
    delete:
      summary: 刪除指定的 permission
      description: |
        根據permission id 刪除permission
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: permission-id
          schema:
            type: string
          required: true
          description: 要刪除的permission id當參數
      tags:
        - "Admin/Permission"
      responses:
        '204':
          description: 刪除成功          
        '403':
          description: permission正在被使用中
        '500':
          description: IAM server內部發生錯誤
    put:
      summary: 更新指定的 permission
      description: |
        根據permission id 更新permission
      requestBody:
        description: |
          UpdatePermission
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePermissionRequest'
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: permission-id
          schema:
            type: string
          required: true
          description:  要更新的permission id當參數
      tags:
        - "Admin/Permission"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePermissionResponse'
        '400':
          description: BadRequest
        '500':
          description: Internal Server Error
  '/permissions/project/{project-id}':
    get:
      summary: 列出project下的所有permission
      description: |
        根據project id列出該project下的所有permission
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: project-id
          schema:
            type: string
          required: true
          description:  要查詢的project id當參數
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
            default: 0
          required: false
          description: The number of items to skip before starting to collect the result set.
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
          required: false
          description: The number of items to return.
      tags:
        - "User/Permission"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPermissionsByProjectResponse'
        '400':
          description: BadRequest
        '500':
          description: Internal Server Error | IAM Server 發生內部錯誤
  '/permission/project/{project-id}':
    post:
      summary: 在指定project下建立permission
      description: |
        根據project id建立屬於該project的permission
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: project-id
          schema:
            type: string
          required: true
          description:  要建立的project id當參數
      requestBody:
        description: |
          CreatePermissionByProject
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePermissionByProjectRequest'
      tags:
        - "User/Permission"
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePermissionByProjectResponse'
        '400':
          description: BadRequest
        '500':
          description: Internal Server Error
  '/permission/{permission-id}/project/{project-id}':
    delete:
      summary: 在指定project下刪除指定的permission
      description: |
        根據project id及permission id刪除屬於該project的permission
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: project-id
          schema:
            type: string
          required: true
          description: 要查詢的project id當參數
        - in: path
          name: permission-id
          schema:
            type: string
          required: true
          description: 要刪除的permission id當參數
      tags:
        - "User/Permission"
      responses:
        '204':
          description: NoContent
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
    put:
      summary: 在指定project下更新指定的permission
      description: |
        根據project id及permission id更新屬於該project的permission
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: project-id
          schema:
            type: string
          required: true
          description: 要查詢的project id當參數
        - in: path
          name: permission-id
          schema:
            type: string
          required: true
          description: 要更新的permission id當參數
      requestBody:
        description: |
          UpdatePermissionByProject
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePermissionByProjectRequest'
      tags:
        - "User/Permission"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePermissionByProjectResponse'
        '400':
          description: BadRequest
        '500':
          description: Internal Server Error
  '/permission/project/{project-id}/user/{user-id}':
    put:
      summary: 在指定project下更新指定的user permission
      description: |
        根據project user id更新該project下的user permission
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: project-id
          schema:
            type: string
          required: true
          description: 要查詢的project id當參數
        - in: path
          name: user-id
          schema:
            type: string
          required: true
          description: 要更新的user id當參數
      requestBody:
        description: |
          UpdateUserPermissionByProject
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserPermissionByProjectRequest'
      tags:
        - "User/Permission"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateUserPermissionByProjectResponse'
        '400':
          description: BadRequest
        '500':
          description: Internal Server Error
  '/admin/securityguard':
    get:
      summary: ListJailers
      description: |
        使用帳號密碼登入時, 如果密碼錯誤過多次, 就會被鎖定帳號, 這邊是列出所有被鎖定的帳號
      security:
        - bearerAuth: []
      parameters: []
      tags:
        - Admin/SecurityGuard
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ListJailersResponse'
              examples:
                ListJailersResponse:
                  $ref: '#/components/examples/ListJailersResponse'
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
        '501':
          description: Not Implemented | SecurityGuard功能未被啟用或定義Provider, 無法提供此服務
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/SecurityGuardNotImplementedResponse'
              examples:
                SecurityGuardNotImplementedResponse:
                  $ref: '#/components/examples/SecurityGuardNotImplementedResponse'
  '/admin/securityguard/{user-id}/':
    put:
      summary: JailUser or ReleaseUser
      description: |
        變更使用者的鎖定狀態, 鎖定某帳號 或 解鎖某帳號
      tags:
        - Admin/SecurityGuard
      requestBody:
        description: |
          欲鎖定請將jail帶true, 欲解除鎖定請將jail帶false; 解除鎖定一個非鎖定狀態的user會有error403; 鎖定已經是鎖定狀態的user會重新倒數鎖定時間
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateJailerRequest'
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: user-id
          schema:
            type: string
          required: true
          description: |
            要操作鎖定或解鎖帳號的userid
      responses:
        '200':
          description: OK
        '400':
          description: BadRequest
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/UpdateJailerInvalidUserResponse'
                  - $ref: '#/components/schemas/UpdateJailerReleaseNonjailerResponse'
              examples:
                UpdateJailerInvalidUserResponse:
                  $ref: '#/components/examples/UpdateJailerInvalidUserResponse'
                UpdateJailerReleaseNonjailerResponse:
                  $ref: '#/components/examples/UpdateJailerReleaseNonjailerResponse'
        '500':
          description: Internal Server Error
        '501':
          description: Not Implemented | SecurityGuard功能未被啟用或定義Provider, 無法提供此服務
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/SecurityGuardNotImplementedResponse'
              examples:
                SecurityGuardNotImplementedResponse:
                  $ref: '#/components/examples/SecurityGuardNotImplementedResponse'
  '/admin/system/versions':
    get: 
      summary: 取得系統完整版本
      description: 取得系統完整版本
      security:
        - bearerAuth: []
      tags:
        - Admin/System
      responses:
        '200':
          description: OK
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/DetailVersion'
  '/admin/system/configurations':
    get:
      summary: 取得系統所有配置
      description: 取得系統所有配置
      security:
        - bearerAuth: []
      tags:
        - Admin/System
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Configuration'
  '/admin/user/{user-id}/attribute':
    put:
      summary: 更新指定使用者的 Attributes
      description: >
        更新指定使用者的 Attributes
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: user-id
          schema:
            type: string
          required: true
          description: todo
      requestBody:
        description: 輸入欲更新的使用者 Attributes
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUpdateUserAttributeRequest'
      tags:
        - Admin/User
      responses:
        '200':
          description: OK
        '400':
          description: BadRequest
        '500':
          description: Internal Server Error
  '/admin/saml/auth_request/validate':
    head:
      summary: 驗證 saml request 是否合法
      description: >
        驗證 saml request 是否合法
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: entityID
          schema:
            type: string
          required: true
          description: 用來查找是哪一筆entityID 
        - in: query
          name: SAMLRequest
          schema:
            type: string
          required: true
          description: saml request 是由 service provider 傳送給idp的 xml authn request info. 
        - in: query
          name: RelayState
          schema:
            type: string
          required: true
          description: service provider用來重新導向用戶到原始請求的Context, idp 收到值不做任何處理
      tags:
        - "Admin/SAML"
      responses:
        '200':
          description: OK
        '400':
          description: BadRequest
        '404':
          description: NotFound
        '500':
          description: Internal Server Error
  '/admin/saml/login':
    post:
      summary: 產生saml response info 傳送給 service provider
      description: >
         generate saml response send to service provider
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: entityID
          schema:
            type: string
          required: true
          description: 用來查找是哪一筆entityID 
        - in: query
          name: SAMLRequest
          schema:
            type: string
          required: true
          description: saml request 是由 service provider 傳送給idp的 xml authn request info. 
        - in: query
          name: RelayState
          schema:
            type: string
          required: true
          description: service provider用來重新導向用戶到原始請求的Context, idp 收到值不做任何處理
      requestBody:
        description: |
          需要登入資訊, 登入成功的資訊會把user info 打包在saml response
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequestDefault'
            examples:
              LoginRequestDefault:
                $ref: '#/components/examples/LoginRequestDefault'
      tags:
        - "Admin/SAML"
      responses:
        '302':
          description: StatusFound
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/SAMLLoginResponse'
              examples:
                SAMLLoginResponse:
                  $ref: '#/components/examples/SAMLResponse'      
        '400':
          description: BadRequest
        '404':
          description: NotFound
        '500':
          description: Internal Server Error
  '/admin/saml/{saml-id}':
    get:
      summary: 取得 SAML metadata
      description: |
        get saml metadata
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: saml-id
          schema:
            type: string
          required: true
          description: 
            saml id
      tags:
        - "Admin/SAML"
      responses:
        '200':
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/GetSAMLMetadataResponse'  
              examples:
                GetSAMLMetadataResponse:
                  $ref: '#/components/examples/GetSAMLMetadataResponse'            
        '500':
          description: IAM Server 發生內部錯誤
          
        '400':
          description: admin project 不存在
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    DetailVersion:
      type: object
      properties:
        version:
          type: string
          description: PegasusIAM版本
        golangVersion:
          type: string
          description: Golang版本
        modules:
          type: array
          description: 使用到的Pegasus modules
          items: 
            type: string
        eventPublishes:
          type: array
          description: 事件發送的類型與版號
          items: 
            type: string
        authChains:
          type: array
          description: 認證鏈的類型與版號
          items: 
            type: string
      example:
        {
          "version": "1.3.0",
          "golangVersion": "go1.16.8",
          "modules": [
              "pegasus-cloud.com/aes/pegasusiamclient: v1.0.0-20221111-3931127c",
              "pegasus-cloud.com/aes/toolkits: v0.2.0-20221104-9776f128"
          ],
          "eventPublishes": [],
          "authChains": []
        }
    UserScopes:
      type: object
      properties:
        userMFARequired:
          type: boolean
          description: 系統使用者登入時，是否強制驗證MFA
        adminMFARequired:
          type: boolean
          description: 系統管理員登入時，是否強制驗證MFA
        enableStandardRedirectCode:
          type: boolean
          description: 啟用時以302進行轉址，否則回傳205
        enableNamespaced:
          type: boolean
          description: 是否啟用多重命名域
        enablePasswordExpired:
          type: boolean
          description: 是否啟用使用者密碼到期檢查
        enableSecurityGuard:
          type: boolean
          description: 是否啟用登入密碼重試檢查
        permissionValidateMode:
          type: string
          description: 驗證模式是白名單或黑名單
        enablePasswordHistory:
          type: boolean
          description: 是否啟用密碼與過去設定相同的檢查
        enableUserChangeInitialPassword:
          type: boolean
          description: 是否強制使用者更新初始密碼
        enableAdminChangeInitialPassword:
          type: boolean
          description: 是否強制管理員更新初始密碼
    LoginRequestDefault:
      type: object
      properties:
        account:
          type: string
        password:
          type: string
    ForceChangePasswordRequest:
      type: object
      properties:
        password:
          type: string
        changePasswordToken:
          type: string
    LoginRequestSsoToken:
      type: object
      properties:
        sso_token:
          type: string
    UpdateUserPassword:
      type: object
      properties:
        password:
          type: string
      example:
        password: "!QAZxsw2"
    UpdateUserPublicKey:
      type: object
      properties:
        publicKey:
          type: string
      example:
        publicKey: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC8St4JA/I3NUfKIMFEwgCvPsD986lRU3dyMPBBM8kgwfU8vPUUkMknfuMznLpHg4qK0wJLFXGDOQd5AAh5nOWeDUTIJUSp8b0tpdYLoaT+sPOvjYl4hhzs37x1+50NPEr0ZFL2cEeTOY17EmovvluoZF6VPKOhxtYGavylah3RSARK0yGTPW+UgvEYrZZSzGvvhB1mPcmqng7cJsK/FVMliCYVCL8s+FMrjGccHt3Ih2Ap25SoXnUEfx/k9qCOF4hzCo/6UJVH9U4xJVvY3gwJAG3DRhsovuyIqeAcfiDq7pOq0fLhZtRIK2JHct+BakO670PZPGxow+OWJYnTaQpXw89vHXlPmy4XMjfRE3lX17z6J+oL3zErubewsZy8/0a0lfBEk+U5/T0+s/M3R7+LXpDhzwXteHbdahIoF4J75lJ4zc+a311P9GoHyQM1NI1KeRMv7YBSzEe6sSZ9SOhbAXthDsTBlDg9cWZ2viQlqEhUWyUe1OtTCA7hroGMOU0="
    GetUserPublicKey:
      type: object
      properties:
        publicKey:
          type: string
      example:
[...]
